<div class="row">
  <div class="col-xs-12">
    <h1><%= @movie.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-2 text-center">
    <%= image_tag @movie.movie_cover.url(:medium) %>
    <%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-warning btn-block" %>
    <%= link_to 'Back', movies_path, class: "btn btn-primary btn-block" %>
  </div>

  <div class="col-xs-10">
    <p>
      <strong>Year:</strong>
      <%= @movie.year %>
      <strong>Run time:</strong>
      <%= @movie.run_time %>
    </p>

    <p>
      <%= @movie.body %>
    </p>

    <h2>Reviews</h2>
    <%= form_for(Review.new, url: reviews_path) do |f| %>
      <div class="form-group">
        <%= f.label :comment, "Please review the movie" %><br>
        <%= f.text_area :comment, rows: 4, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :rating %><br>
        <%= f.number_field :rating, default: 0, in: 0..5, class: "form-control" %>
      </div>

      <%= f.submit "Save Review", class: "btn btn-success" %> 
    <% end %>
    <ul class="media-list">
    <% @reviews.each do |review| %>
      <li class="media">
        <div class="media-left media-top">
          <a href="#">
            <%= image_tag(review.user.avatar.url(:thumb), class: "media-object") %>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= review.user.first_name %> <%= review.user.last_name %></h4>
          <p><strong>Rating: <%= review.rating %></strong></p>
          <p><%= review.comment %></p>
        </div>
      </li>
    <% end %>
    </ul>


  </div>
</div>
<!-- INSERT REVIEWS -->



